.title {
    padding: 30px 110px 45px 110px;
    margin: 0;
    text-align: center;
    background-image: linear-gradient(rgba(255,183,43,1) 0%, rgba(255,230,27,1) 70%, rgba(255,230,27,0) 100%);
    color: #B5FE83;
    animation: title-appear 0.5s ease-out;
}

@keyframes title-appear {
    from {
        transform: translateX(-1.5rem);
    }
    to {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 767px) {
    .title {
        text-align: left;
        padding-left: 20px;
    }
}

@media only screen and (max-width: 575px) {
    .title {
        padding-left: 10px;
        padding-right: 90px;
    }
}

@media only screen and (max-width: 375px) {
    .title {
        padding-top: 10px;
        padding-right: 10px;
    }    
}