.img-graph {
    perspective: 1500px;
    position: relative;
    text-align: center;
}

.img-graph img {
    width: 100%;
    max-width: 100vh;
    border-radius: 30px;
    transition: transform .5s ease, filter .3s .2s;
}

@media only screen and (hover: hover) {
    .img-graph button {
        display: none;
    }
}

.graph-active {
    transform: rotateY(180deg);
    filter: blur(10px);
}

@media only screen and (hover: none) {
    .img-graph {
        position: relative;
    }

    .img-graph button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        margin-bottom: 30px;
    }

    .img-graph button:active {
        transform: translate(-50%) scale(1.05);
    }
}