.img-graph {
    perspective: 1500px;
}

.img-graph img {
    width: 100%;
    border-radius: 30px;
    transition: transform .5s ease, filter .3s .2s;
}

@media (hover: hover) {
    .img-graph:hover img {
        transform: rotateY(180deg);
        filter: blur(10px);
    }
    .img-graph button {
        display: none;
    }
}

.graph-active {
    transform: rotateY(180deg);
    filter: blur(10px);
}

@media (hover: none) {
    .img-graph {
        position: relative;
    }

    .img-graph button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        margin-bottom: 30px;
    }

    .img-graph button:active {
        transform: translate(-50%) scale(1.05);
    }
}