.stats-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.stats {
    display: flex;
    flex-flow: row wrap;
}

.stat {
    width: 175px;
    text-align: center;
    flex-grow: 1;
    margin: auto;
}

.stat h2 > * {
    display: block;
}

.amount {
    font-size: 150%;
    line-height: 45px;
}

.raised-of-label {
    font-size: 80%;
    padding-left: 20px;
}

/*.goal*/

.percent {
    font-size: 60%;
    padding-left: 20px;
}

.backers {
    font-size: 70%;
    padding-left: 20px;
}

.stat i {
    font-style: normal;
    font-size: 70%;
    vertical-align: top;
}

.day {
    font-size: 300%;
    line-height: 80px;
    font-weight: 300;
}

/*.days-left-label*/

.end-date {
    font-size: 70%;
}

.percent-bar {
    width: 100%;
    height: 20px;
    background-color: #d0d0d0;
    margin-top: 20px;
}

@media (max-width: 373px) {
    .stat:first-child {
        order: 1;
        margin-top: 10px;
    }
}