.profile {
    position: absolute;
    top: 30px;
    right: 30px;
}

img.profile {
    border-radius: 50px;
    height: 65px;
}

button.profile {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: #B5FE83;
    box-shadow: 1px 1px 2px #6e6e6e;
    transition: all 0.1s;
}

button.profile:hover {
    transform: scale(1.05) translate(0, -5px);
    box-shadow: 1px 3px 4px #6e6e6e;
}

button.profile:active {
    transform: scale(1.05);
    box-shadow: 1px 1px 2px black;
}

@media (max-width: 1010px) {
    .profile {
        top: 80px;
    }
}

@media (max-width: 798px) {
    .profile {
        top: 95px;
    }
}

@media (max-width: 527px) {
    .profile {
        top: 175px;
    }
}

@media (max-width: 333px) {
    .profile {
        top: 200px;
    }
}