body {
    background-image: linear-gradient(to right, #d0d0d0, #F7F7F7);
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    animation: content-appear 1s ease-out;
    flex-grow: 1;
}
@keyframes content-appear {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.heading {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 3rem;
    text-shadow: 1px 1px 2px black;
    color: #B5FE83;
}
@media only screen and (max-width: 767px) {
    .heading {
        font-size: 2.5rem;
    }
}

.button {
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: #B5FE83;
    box-shadow: 1px 1px 2px #6e6e6e;
    transition: all 0.1s;
}
@media only screen and (hover: hover) {
    .button:hover {
        transform: scale(1.05) translate(0, -5px);
        box-shadow: 1px 3px 4px #6e6e6e;
    }    
}
.button:active {
    transform: scale(1.05);
    box-shadow: 1px 1px 2px black;
}

.placeholder-content {
    text-align: center;
    margin: 8rem 0;
}